<!DOCTYPE html>
<html>
<body>

{% if greeting == 1 %}
  <h5>Hello</h5>
{% elif greeting == 2 %}
  <h5>Welcome</h5>
{% else %}
  <h5>Goodbye</h5>
{% endif %} 
<p>this have if ,elif, else staements </p>

{% if hold != 1 %}
  <h5>this is not equal to </h5>
{% endif %} 

{% if happy < 3 %}
  <h5>this is lessthan </h5>
{% endif %} 

{% if lessthan <= 3 %}
  <p>lessthan are equal to </p>
{% endif %} 

{% if greaterthan < 5 %}
<p>this is greaterthan code</p>
{% endif %}

{% if greater <= 5 %}
<p>this is greaterthan equal to </p>
{% endif %}


</body>
</html>